<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <!-- Contenedor para el fondo degradado en azul y amarillo -->
  <div class="background-container"></div>

  <!-- Contenedor para el formulario de modificación -->
  <ion-grid class="ion-justify-content-center ion-align-items-center">
    <ion-row>
      <ion-col size="12">
        <!-- Foto de perfil centrada -->
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- Nombre del usuario -->
        <ion-item *ngIf="!modificando">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="modificando">
          <ion-label position="floating">Nuevo Nombre</ion-label>
          <ion-input [(ngModel)]="nuevoNombre" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- Carrera -->
        <ion-item *ngIf="!modificando">
          <ion-label position="floating">Carrera</ion-label>
          <ion-input [(ngModel)]="carrera" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="modificando">
          <ion-label position="floating">Nueva Carrera</ion-label>
          <ion-input [(ngModel)]="nuevaCarrera" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- Botones de modificar y guardar -->
        <ion-button *ngIf="!modificando" (click)="habilitarModificacion()" expand="full" class="custom-button">Modificar</ion-button>
        <ion-button *ngIf="modificando" (click)="guardarCambios()" expand="full" class="custom-button">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Área de detalles del perfil -->
  <ion-list class="ion-margin-top">
    <ion-item>
      <ion-label class="label">Palabras Claves:</ion-label>
      <ion-select [(ngModel)]="palabraClave" interface="popover" placeholder="Seleccionar">
        <ion-select-option *ngFor="let keyword of palabrasClavesDisponibles">{{ keyword }}</ion-select-option>
      </ion-select>
      <ion-button (click)="agregarPalabraClave()" expand="full">Agregar</ion-button>
    </ion-item>
    <ion-item *ngFor="let keyword of palabrasClavesSeleccionadas">
      {{ keyword }}
    </ion-item>
  </ion-list>
</ion-content>
