ion-content {
  --background: url('../../assets/backgrounf.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.custom-button {
  --background: #ffff00;
  --color: #000;
}

.profile-icon {
  font-size: 6em;
  color: #fff;
}

.label {
  color: #4a90e2;
}

ion-item {
  margin-bottom: 10px;
}

ion-select {
  width: 100%;
}
