body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px; /* Adjust the value based on your preference */
  width: 100%;
  margin-left: 40px; /* Adjust the value based on your preference */
}


.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#4285F4;
  color: #fff;
}

.google-icon {
  font-size: 24px; /* Ajusta el tamaño del ícono según tus preferencias */
  margin-right: 10px; /* Ajusta el espacio entre el ícono y el texto */
}
ion-content {
  --background: url('../../assets/backgrounf.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.login-content {
  background-color: transparent; /* Para que no haya un fondo blanco detrás del contenido */
}
