body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  margin-left: 40px; 
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#4285F4;
  color: #fff;
}

.google-icon {
  font-size: 24px; 
  margin-right: 10px; 
}

ion-content {
  --background: url('../../assets/backgrounf.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.login-content {
  background-color: transparent; 
}

.signup-link {
  color: #fff

}