ion-card {
  --ion-background-color: rgba(0, 0, 0); /* Fondo con opacidad solo en ion-card */
  margin-bottom: 20px;
  width: auto;
  opacity: 0.7;
}

ion-card-title,
ion-card-subtitle,
ion-card-content,
ion-label {
  color: #ffffff;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-container .tag {
  background-color: #a1a1a1;
  color: #000000;
  border-radius: 15px;
  padding: 8px 12px;
  margin-bottom: 5px;
}

.tag-container .tag.user-match {
  background-color: #8edb90; /* Verde cuando coincide con el usuario */
}

@media (max-width: 576px) {
  .tag-container .tag {
    display: block;
  }
}

ion-content {
  --background: url('../../assets/backgrounf.jpeg') no-repeat center center fixed;
  background-size: cover;
}

/* Estilo para el botón de postular dentro de ion-card */
ion-card .postular-button {
  --background: #2B9141; /* Fondo del botón sin opacidad */
  --color: #fff;
  border-radius: 15px;
}

ion-item {
  .label {
    color: #fff;
  }
}
