ion-card {
  --ion-background-color: rgb(55, 76, 168);
  margin-bottom: 20px;
  width: auto;
}

ion-card-title,
ion-card-subtitle,
ion-card-content,
ion-label {
  color: #fff;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-container .tag {
  background-color: #a1a1a1;
  color: #fff;
  border-radius: 15px;
  padding: 8px 12px;
  margin-bottom: 5px;
}

.tag-container .tag.user-match {
  background-color: #4caf50; /* Verde cuando coincide con el usuario */
}

@media (max-width: 576px) {
  .tag-container .tag {
    display: block;
  }
}

ion-content {
  --background: url('../../assets/backgrounf.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.postular-button {
  --background: #f29407;
  --color: #fff;
  border-radius: 15px;
}

ion-item {
  .label {
    color: #fff;
  }
}
