<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Ofertas de Prácticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="nav-bar">
    <ion-toolbar>
      <ion-title size="large">Ofertas de Prácticas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let oferta of ofertas" class="col-lg-5 col-md-8 mx-auto">
    <ion-card-header>
      <ion-card-title>{{ oferta.oferta }}</ion-card-title>
      <ion-card-subtitle>{{ oferta.empresa }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ oferta.descripcion }}
    </ion-card-content>

    <ion-item *ngIf="oferta.tags">
      <ion-label class="label">Tags:</ion-label>
      <div class="tag-container">
        <div *ngFor="let tag of oferta.tags" [ngClass]="{'tag': true, 'user-match': esTagCoincidente(tag)}">
          {{ tag }}
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-button fill="clear" slot="end" (click)="verDetalleOferta(oferta.link)" class="postular-button">Postular</ion-button>
    </ion-item>
  </ion-card>

  <!-- Botón flotante para redirigir a la página de perfil -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="irAPerfil()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>