<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ofertas-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ofertas-home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<body style="margin-top: 80px;">
<ion-card style="padding-bottom: 100px;" class="col-lg-5 col-md-8 mx-auto">
  <ion-card-header >
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content >
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-button fill="clear">Postular</ion-button>
</ion-card>
<ion-card style="padding-bottom: 100px;" class="col-lg-5 col-md-8 mx-auto">
  <ion-card-header >
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content >
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-button fill="clear">Postular</ion-button>
</ion-card>
</body>
