.logo {
    width: 30vw; /* Ajusta el tamaño según tus necesidades */
    max-width: 150px; /* Máximo de 150px para evitar que sea demasiado grande en pantallas grandes */
    margin: 20px auto 0; /* Centra el logo en la parte superior con un margen superior de 20px */
    display: block;
  }