.logo {
    width: 30vw; /* Ajusta el tamaño según tus necesidades */
    max-width: 300px; /* Máximo de 150px para evitar que sea demasiado grande en pantallas grandes */
    margin: 20px auto 0; /* Centra el logo en la parte superior con un margen superior de 20px */
    display: block;
  }
  ion-content {
    --background: url('../../assets/backgrounf.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
  .login-link{

    color: white;
  }